.main-panel {
  width: 66.67%;
  border: 1px solid #d6d8ea;
  border-radius: 16px;
  padding: 40px;
  color: #000034;

  .title {
    font-size: 24px;
    font-weight: 600;
  }

  .desc {
    color: #4b4e68;
    margin-top: 30px;
  }

  .input-wrapper {
    position:relative;
  }

  .input-icon {
    position: absolute;
    top:22px;
    left:20px;
  }

  .input-desc {
    font-size: 12px;
    margin-top: 30px;
    font-weight: 600;
  }

  .input {
    border: 1px solid #c0c2e2;
    border-radius: 16px;
    padding: 18px 50px;
    margin-top: 7px;
    font-weight: 600;
    width: -webkit-fill-available;
  }

  .red {
    color: red;
  }

  .input:focus {
    outline: none;
  }

  .button {
    padding: 13px 40px;
    background: linear-gradient(90deg, #4efdea 6.67%, #7581ff 92.08%);
    border-radius: 16px;
    margin-top: 80px;
    float: right;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
